USE [master]
GO
/****** Object:  Database [LEARN__PROJECT__1__VIDLY__MVC__2]    Script Date: 14-09-2023 18:45:26 ******/
CREATE DATABASE [LEARN__PROJECT__1__VIDLY__MVC__2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LEARN__PROJECT__1__VIDLY__MVC__2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LEARN__PROJECT__1__VIDLY__MVC__2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LEARN__PROJECT__1__VIDLY__MVC__2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LEARN__PROJECT__1__VIDLY__MVC__2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LEARN__PROJECT__1__VIDLY__MVC__2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LEARN__PROJECT__1__VIDLY__MVC__2]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14-09-2023 18:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 14-09-2023 18:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[IsSubscribedToNewsletter] [bit] NOT NULL,
	[MembershipTypeId] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipTypes]    Script Date: 14-09-2023 18:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipTypes](
	[Id] [tinyint] NOT NULL,
	[SignUpFee] [smallint] NOT NULL,
	[DurationInMonths] [tinyint] NOT NULL,
	[DiscountRate] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.MembershipTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([ID], [Name], [IsSubscribedToNewsletter], [MembershipTypeId]) VALUES (1, N'Tusar', 0, 1)
INSERT [dbo].[Customers] ([ID], [Name], [IsSubscribedToNewsletter], [MembershipTypeId]) VALUES (2, N'Singh', 1, 2)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
INSERT [dbo].[MembershipTypes] ([Id], [SignUpFee], [DurationInMonths], [DiscountRate]) VALUES (1, 0, 0, 0)
INSERT [dbo].[MembershipTypes] ([Id], [SignUpFee], [DurationInMonths], [DiscountRate]) VALUES (2, 30, 1, 10)
INSERT [dbo].[MembershipTypes] ([Id], [SignUpFee], [DurationInMonths], [DiscountRate]) VALUES (3, 90, 3, 15)
GO
/****** Object:  Index [IX_MembershipTypeId]    Script Date: 14-09-2023 18:45:26 ******/
CREATE NONCLUSTERED INDEX [IX_MembershipTypeId] ON [dbo].[Customers]
(
	[MembershipTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [IsSubscribedToNewsletter]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [MembershipTypeId]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Customers_dbo.MembershipTypes_MembershipTypeId] FOREIGN KEY([MembershipTypeId])
REFERENCES [dbo].[MembershipTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_dbo.Customers_dbo.MembershipTypes_MembershipTypeId]
GO
USE [master]
GO
